.text {
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Your Desired Font', sans-serif;
    font-size: 18px;
    color: #E0FFFF;
  }
  
  .code {
    background-color: #ffffff;
    /* Белый фон */
    border-radius: 8px;
    /* Закругленные углы */
    padding: 20px;
    /* Внутренний отступ */
    overflow: auto;
    /* Если контент превышает размеры, добавляется полоса прокрутки */
    font-size: 16px;
    color: black;
  }
  
  .cent {
    margin-left: 50px
  }
  
  .centTxt {
    font-style: italic
  }
  
  .cen {
    margin-left: 30%;
  }
  
  .btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #282936;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .events-img {
    width: 600px;
    cursor: pointer;
  }
  
  .events-list {
    list-style-type: none;
    padding: 0;
  }
  
  .events-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .events-success {
    color: green;
  }
  
  .events-failure {
    color: red;
  }
  
  .animated-element {
    transition: color 1s ease;
    /* Свойства анимации */
    cursor: pointer;
  }
  
  .animate {
    color: red;
    /* Новый цвет текста при анимации */
  }
  
  /* Modal.css */
  
  .ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* устанавливает окно поверх остального контента */
  }
  
  .ModalContent {
    width: 600px;
    /* Ширина модального окна */
    height: 450px;
    /* Высота модального окна */
    background-image: url('../../3949083.webp');
    /* Полупрозрачный белый фон */
    background-size: cover;
    /* Растягиваем изображение на весь экран */
    background-repeat: no-repeat;
    /* Запрещаем повторение изображения */
    padding: 20px;
    border: 6px solid #000;
    /* рамочка */
    border-radius: 8px;
    /* закругление углов */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E0FFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }